<table class="aui aui-table-interactive aui-table-sortable">
    <thead>
    <tr>
        <th id="data-temperature">Temperature</th>
        <th id="data-humidity">Humidity</th>
        <th id="data-timestamp">Timestamp</th>
    </tr>
    </thead>
    <tbody>
        #foreach ($item in $items)
        <tr>
            <td headers="data-temperature"><span class="aui-lozenge aui-lozenge-current">$String.format("%.2f", $!{item.temperature})&deg;C</span></td>
            <td headers="data-humidity"><span class="aui-lozenge aui-lozenge-current">$!{item.humidity}%</span></td>
            <td headers="data-timestamp">$date.format("yyyy-MM-dd HH:mm:ss", $!{item.timestamp})</td>
        </tr>
        #end
    </tbody>
</table>